[submodule "submodules/jtblatt/perftools"]
	path = submodules/jtblatt/perftools
	url = git://github.com/jtblatt/perftools.git
[submodule "submodules/jtblatt/duderino"]
	path = submodules/jtblatt/duderino
	url = git://github.com/jtblatt/duderino.git
[submodule "submodules/joyent/node"]
	path = submodules/joyent/node
	url = git://github.com/joyent/node.git
[submodule "submodules/libunwind"]
	path = submodules/libunwind
	url = git://git.sv.gnu.org/libunwind.git
[submodule "submodules/yui/nodejs-yui3"]
	path = submodules/yui/nodejs-yui3
	url = git://github.com/yui/nodejs-yui3.git
